<b>dir() </b>- displays all the function associated with an object

In [1]:
lst = [1,2,3,4]

In [3]:
print(dir(lst))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

<b> enumerate()</b> - enumerate() method adds a counter to an iterable and return it in a form of enumerated object.

In [4]:
fruits = ['apple', 'manago', 'banana', 'grapes']

In [8]:
for idx, ele in enumerate(fruits):
    print(idx, ele)

0 apple
1 manago
2 banana
3 grapes

In [9]:
for idx, ele in enumerate(fruits, 1):
    print(idx, ele)

1 apple
2 manago
3 banana
4 grapes

 <b>Aggregation Function</b>

In [10]:
lst = [3,6,8,2,5,1,0]

In [11]:
sum(lst)

25

In [12]:
max(lst)

8

<b>Map</b> applies a function to all the items of an iterable

In [13]:
def add_one(x):
    return x+1

In [14]:
add_one(100)

101

In [15]:
print(lst)

[3, 6, 8, 2, 5, 1, 0]

In [16]:
map(add_one, lst)

In [17]:
map_ele = map(add_one, lst)

In [18]:
list(map_ele)

[4, 7, 9, 3, 6, 2, 1]

 <b>Filter </b>- The filter() method consturcts and iterator from elements of an iterable for which a function returns true.

In [19]:
list(filter(lambda x: x%2==0, lst))

[6, 8, 2, 0]

<b> Reduce </b>

- reduce() function is for performing some compuation on a list and returing the result.
- It applies a rolling computation to sequential pairs of values in a list.

In [22]:
# product of elements in a list

lst = [1,2,3,4,5]

# traditional way without reduce

product = 1
for num in lst:
    product *=num
    
print(product)

120

In [23]:
from functools import reduce

In [24]:
def multiply(x, y):
    return x*y

In [25]:
product = reduce(multiply, lst)

In [26]:
print(product)

120

In [28]:
reduce(lambda x, y : x*y, lst)

120

In [30]:
sum(2,4,6)

TypeError: sum expected at most 2 arguments, got 3

In [31]:
sum([1,2,3])

6

In [32]:
min(max(False,-3,-4), 2,7)

False

In [33]:
list(enumerate([2, 3]))

[(0, 2), (1, 3)]

In [34]:
x=3
eval('x^2')

1