In [1]:
sum([10,20,30])

60

In [2]:
lst = [10,20,30]

In [4]:
sum(lst)

60

In [6]:
len(lst)

3

In [9]:
import numpy as np

In [8]:
numpy.mean(lst)

20.0

In [11]:
np.mean(lst)

20.0

In [12]:
np.linspace(1,80,20)

array([ 1.        ,  5.15789474,  9.31578947, 13.47368421, 17.63157895,
       21.78947368, 25.94736842, 30.10526316, 34.26315789, 38.42105263,
       42.57894737, 46.73684211, 50.89473684, 55.05263158, 59.21052632,
       63.36842105, 67.52631579, 71.68421053, 75.84210526, 80.        ])

In [14]:
n = [4,6,7,3,4,5,7,9,1]
print(n)
n.sort()
print(n)

[4, 6, 7, 3, 4, 5, 7, 9, 1]
[1, 3, 4, 4, 5, 6, 7, 7, 9]

In [15]:
import pandas as pd

In [17]:
# Create some randon data 
var1 = np.random.randn(100)*5 +20

In [18]:
var1

array([ 8.74731125, 13.91411106, 26.84081843, 10.18187544, 13.57508623,
       23.43623573, 16.5872768 ,  9.3272593 , 28.72175937, 24.71999344,
       20.35446051, 21.11551196, 22.92974031, 21.13899813, 27.08298956,
       18.98476333, 18.19997293, 14.08278064, 22.76955344, 25.80217781,
       20.00332786, 19.41323025, 11.59964112, 15.57393702, 17.61282504,
       15.90497485, 17.0491765 , 21.49968382, 23.75473884, 17.03658528,
       23.71269075, 18.78904018, 23.72353874, 21.53722775, 21.38367671,
       24.9996467 , 18.89377382, 17.86181292, 13.90341766, 19.54809812,
       21.53239644, 21.48692648, 17.67104907, 16.71686177, 17.68539533,
       21.67983433, 25.90897761,  9.77655906, 16.19971711, 20.87070415,
       20.91259228, 19.54504994, 25.05196856, 13.45084619, 15.190326  ,
       14.6446309 , 18.87763456, 18.77388451, 14.2665555 , 23.68484135,
       27.34061356, 23.04965698, 18.14543452, 17.31588116, 23.0150622 ,
       19.41738448, 34.44576725, 17.69724583, 21.29488133, 19.53783775,
       21.99060964, 25.82760965, 15.06304287, 17.43015745, 12.14562972,
       18.85228017, 18.06201087, 22.7218697 , 17.77718652,  5.95449607,
       30.87415089, 20.23912943, 12.09417691, 19.18909968, 19.05630449,
       15.69242421, 23.21322343, 16.19323627, 16.97849363, 19.1181197 ,
       23.97217529, 15.0699242 , 14.27555178, 23.6747376 , 19.15720855,
       21.46451762, 21.29811644, 11.76803472, 15.21479538, 15.66760423])

In [19]:
df  = pd.DataFrame(data = var1)

In [21]:
df1 = pd.DataFrame(var1)

In [22]:
df1

            0
0    8.747311
1   13.914111
2   26.840818
3   10.181875
4   13.575086
..        ...
95  21.464518
96  21.298116
97  11.768035
98  15.214795
99  15.667604

[100 rows x 1 columns]

In [23]:
df

            0
0    8.747311
1   13.914111
2   26.840818
3   10.181875
4   13.575086
..        ...
95  21.464518
96  21.298116
97  11.768035
98  15.214795
99  15.667604

[100 rows x 1 columns]